@charset "utf-8";
/* global */

	html , body{
	   	font-family: 'Jeju Gothic', sans-serif;
	   	position: relative;
	   	width: 100%;
	   }

	label{
		font-size: 12px;
		color:#001c44;
	}

	input{
		font-size: 11px;
		padding:2px 0 2px 3px;
		box-sizing: border-box;
		border:1px solid #9d9d9d;
		height: 20px;
	}

	button{
		color:#fff;
		border:0;
		outline: none;
		padding:3px 0 5px;
		height: 22px;
		border-radius: 5px;
		background: #001c44;
		font-weight: bold;
		font-size: 12px;
	}

    .wrap01{
        position: relative;
    }
/*check box 영역*/
    .check{
        margin:0 auto 3%;
        text-align:center;
        }

/*대 타이틀 영역*/
    section > h2{
        width: 100%;
        text-align: center;
            margin-bottom: 5%;
            font-size: 18px;
        }

    section > h2 span{
        display: block;
        font-size: 10px;
        margin-bottom:1.5%;
        color:#ec2229;
        }

    section > p{
        text-align:center;
        font-size: 11px;
        line-height: 13px;
        color:#5d5d5d;
        margin-bottom:5%;
        }


/*경고문 p태그 영역*/
    .check > p,
    .id_pw ul li p,
    .content04 table tr td:last-child p,
    .find_mail > p,
    .check_pw > p{
            font-size: 11px;
            line-height: 13px;
            text-align:center;
            color:#ec2229;
            margin-bottom: 1%;
            display: none;
            margin-top: 3%
        }

/*체크의 체크박스영역*/
        .check input[type=checkBox]{
            position: relative;
            top: 3px;
            margin: 0;
            height: 13px;
        }

/* 한줄 타이틀 */
        
	   section h3{
	   	margin: 0 auto 3%;
	   	font-size: 15px;
	   	padding-bottom:1%;
        width: 94%;
	   }


	   section h3 > span{
	   	float: right;
        font-size: 11px;
        color:#ec2229;
        margin-top: 4px;
	   }


/*wrap01 영역*/
	.wrap01{
		width:100%;
		max-width: 414px;
		margin:0 auto;
	}
	
/*서브페이지 대메뉴 영역*/
    .main_menu02{
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 29px;
        margin-bottom: 10%;
    }

    .main_menu02 ul{
        width: 110%;
        border:1px solid #ededed;
        border-right: 0;
        border-left: 0;
        box-sizing: border-box;
        display: inline-block;
    }

    .main_menu02 ul li{
        width: 16%;
        float: left;
        text-align: center;
        border-left: 1px solid #ededed;
        box-sizing: border-box; 
    }

    .main_menu02 ul li:nth-child(1){
        width: 20%;
        border-left: 0;
    }

    .main_menu02 ul li a{
        font-size: 13px;
        padding:7px 0 3px;
        box-sizing: border-box;
        color:#001c44;
    }
	
/*header 영역*/
	header{
		width: 100%;
		padding:2%;
		box-sizing: border-box;
		position: relative;
	}

	header h1{
		width: 40%;
	}

	header nav{
		width: 40%;
		float: right;
		position: absolute;
		bottom: 21%;
		right:2%;
	}

	header nav ul li{
		width: 50%;
		float: left;
	}

	header nav ul li a{
		font-size: 12px;
		text-align:right;
		color:#001c44;
	}
	
/*footer 영역*/
	footer{
		width: 100%;
		position:relative;
		top:-1px;
		background: #001c44;
		padding:5%;
		box-sizing: border-box;
	}

	footer nav{
		display: inline-block;
		width: 100%;
		margin-bottom:5%;
	}

	footer ul li{
		width: 33%;
		float: left;
		text-align:center;
	}

	footer ul li:nth-child(2){
		width: 34%;
		border-left:1px solid #fff;
		border-right:1px solid #fff;
		box-sizing: border-box;
	}

	footer ul li a{
		color:#fff;
		font-size: 12px;
	}

	footer  p{
		text-align:center;
		color: #fff;
		font-size:9px;
		line-height: 13px;
	}

	footer p span{
		display: block;
		margin-top: 2%;
	}

/*footer 확장영역 영역*/
    .footer{
        width: 100%;
        background-color:#001c44;
        display: inline-block;
        border-bottom:1px solid #fff;
    }

    .footer > nav > ul > li{
        width: 100%;
        padding:8px 3.5% 10px 5%;
        box-sizing: border-box;
        height: 30px;
        border-bottom:1px solid #fff;
    }

    .footer > nav > ul > li,
    .footer > nav > ul > li > a{
        color:#fff;
        font-size: 13px;
    }

    .footer > nav > ul > li:first-child > span{
        float: right;
        font-size: 18px;
        position: relative;
        top:-3px;
    }

    .footer > nav > ul > li:nth-child(2){
        display: none;
        height: 100%;
        padding:0;
    }

    .footer > nav > ul > li:nth-child(3){
        width: 90%;
        float: left;
        border-right: 1px solid #fff;
        box-sizing: border-box;
    }

    .footer > nav > ul > li:nth-child(3) > a > figure > figcaption{
        display: inline;
    }

    .footer > nav > ul > li:nth-child(3) > a > figure > img{
        float: right;
        width: 17px;
        position: relative;
        top: -3px;
    }

    .footer > nav > ul > li:nth-child(4){
        width: 10%;
        float: right;
        text-align: center;
        padding:3px 0 4px;
        font-size: 11px;
    }

    .footer > nav > ul > li:nth-child(2) > ul > li{
        height: 52px;
        padding:10px 10% 10px;
        box-sizing: border-box;
    }

    .footer > nav > ul > li:nth-child(2) > ul > li:nth-child(2){
        padding:0 10% 0;
        height: 35px;
    }

    .footer > nav > ul > li:nth-child(2) > ul > li > a,
    .footer > nav > ul > li:nth-child(2) > ul > li {
        color:#fff;
        line-height: 17px;
        font-size: 12px;
    }

    .footer > nav > ul > li:nth-child(2) > ul > li > a > figure > figcaption,
    .footer > nav > ul > li:nth-child(2) > ul > li > figure > figcaption{
        display: inline;
        float: left;
    }

    .footer > nav > ul > li:nth-child(2) > ul > li > a > figure > img,
    .footer > nav > ul > li:nth-child(2) > ul > li > figure > img{
        width: 30px;
        float: right;
    }



